<form class="w-25 mx-auto mt-5 border border-secondary p-3" [formGroup]="forgetForm"  (ngSubmit)="OnSubmit()" style="background-color: aliceblue">
  <div class="alert alert-danger" *ngIf="isEmail">   
    email doesn't exists
  </div>
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
      <div class="text-danger mt-2" [hidden]="!(f['email'].dirty && f['email'].errors?.['required'])">
        Enter a valid email
  </div>
      
    </div>
    <div class="mb-3 ">
      <label for="newpassword" class="form-label">Enter new Password</label>
      <input type="password" class="form-control" id="newpassword" formControlName="password">
      <div class="text-danger mt-2" [hidden]="!(f['password'].dirty && f['password'].errors?.['required'])">
        Password is required
    </div>
    </div>
    <div class="mb-3 ">
        <label for="Password" class="form-label" >Confirm Password</label>
        <input type="password" class="form-control" id="Password" formControlName="cmPassword">
        <div class="text-danger mt-2" [hidden]="!(f['cmPassword'].dirty && f['cmPassword'].errors?.['required'])">
      
          Password is required
      </div>
        <div  class="text-danger mt-2" [hidden]="!f['cmPassword'].errors?.['matching']">
        Password does'nt match.

      </div>
      </div>
    
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-dark " [disabled]="this.forgetForm.invalid">Submit</button>
      <div *ngIf="isUpdated">
        <a [routerLink]="['/login']" class="d-block ">login</a>

      </div>     
    </div>
  </form>